@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.list-middot > li:not(:last-child)::after {
		content: "•";
		margin: 0 15px;
	}

	.list-comma > li:not(:last-child)::after {
		content: ",";
	}

	input[type='number']::-webkit-outer-spin-button,
	input[type='number']::-webkit-inner-spin-button,
	input[type='number'] {
	  -webkit-appearance: none;
	  -moz-appearance: textfield !important;
	  margin: 0;
	}
}